.FileCard {
    display: flex;
    flex-direction: column;
    margin: 1px;
    max-width: 100px;
}

.FileIconContainer {
    display: flex;
    justify-content: center;
    padding: 4px 0;
}

.FileIcon {
    color: grey;
    font-size: 3em !important;
}

.FileContentContainer {
    max-height: 40px;
    padding: 4px !important;
    text-align: center;
}

.FileContent {
    font-size: 0.65rem !important;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}