.Folder {
    align-items: center;
    display: flex;
    max-width: 100px;
    justify-content: left;
    margin: 5px;
}

.FolderIcon {
    color: grey;
    padding: 0 3px;
}

.FolderName {
    font-size: 0.65rem !important;
}