.nav-brand{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.nav-brand-title{
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}